.container1{
    position: relative;
    margin: 50px;
    top: 120px;
    color: #fff;
}
button{
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #999DE2;
    position: relative;
    right: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    background-color: #993399;
}
.btn1{
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #DDA0DD;
    transition: 0.2s ease-in-out;
}
.btn1:hover{
    background-color: #ff0084 ;
}
