.subtitle{
    background-color: purple;
    width: 100%;
    justify-content: center;
    display: flex;
    border: 1px solid #fff;
    color: #fff;
}
.descript{
    background-color: purple;
    border: 1px solid #fff;
    justify-content: center;
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
}
.container-cards{
    border: 1px solid #fff;
    background-color: rgb(219, 128, 219);
    padding: 0;
    position: relative;
    right: -105vh;
    width: 50%;
    height: auto;
}

.img1{
    padding: 0;
    height: 38vh;
    width: 30vh;
    right: 95vh;
    position: relative;
    top: -6vh;
    transform: rotate(-4deg);
    border-top-width: 8px; /* Tamanho da borda superior */
    border-right-width: 8px; /* Tamanho da borda direita */
    border-bottom-width: 35px; /* Tamanho da borda inferior */
    border-left-width: 8px; /* Tamanho da borda esquerda */
    border-style: solid; /* Estilo da borda (pode ser solid, dashed, etc.) */
    border-color: snow; /* Cor da borda */
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); /* Sombra com deslocamento de 0px na horizontal, 4px na vertical, desfoque de 8px e cor rgba(0, 0, 0, 0.4) */
}
.img3{
    padding: 0;
    height: 38vh;
    width: 30vh;
    right: 78vh;
    position: relative;
    top: -6vh;
    transform: rotate(4deg); /*Rotaciona a imagem*/
    border-top-width: 8px; /* Tamanho da borda superior */
    border-right-width: 8px; /* Tamanho da borda direita */
    border-bottom-width: 35px; /* Tamanho da borda inferior */
    border-left-width: 8px; /* Tamanho da borda esquerda */
    border-style: solid; /* Estilo da borda (pode ser solid, dashed, etc.) */
    border-color: snow; /* Cor da borda */
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); /* Sombra com deslocamento de 0px na horizontal, 4px na vertical, desfoque de 8px e cor rgba(0, 0, 0, 0.4) */
}
.img4{
    padding: 0;
    height: 38vh;
    width: 30vh;
    right: 135vh;
    position: relative;
    top: -8vh;
    border-top-width: 8px; /* Tamanho da borda superior */
    border-right-width: 8px; /* Tamanho da borda direita */
    border-bottom-width: 35px; /* Tamanho da borda inferior */
    border-left-width: 8px; /* Tamanho da borda esquerda */
    border-style: solid; /* Estilo da borda (pode ser solid, dashed, etc.) */
    border-color: snow; /* Cor da borda */
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); /* Sombra com deslocamento de 0px na horizontal, 4px na vertical, desfoque de 8px e cor rgba(0, 0, 0, 0.4) */
}
.txt1{
    text-align: right;
    padding-right: 30px;
    margin: auto;
    height: 0;
    margin-top: 50px;
    width: 50%;
}
.img1:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.img3:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.img4:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
