.service1{
    width: 75%;
    color: #fff;
    position: relative;
    bottom: 60px;
    border: 1px solid #fff;
    left: 62.5vh;
}
.descript2{
    width: 75%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8rem;
    position: relative;
    bottom: 60px;
    left: 62.5vh;
}
.imgone{
    padding: 0;
    height: 38vh;
    width: 30vh;
    right: -120vh;
    position: relative;
    top: -8vh;
    transform: rotate(-4deg);
    border-top-width: 8px; /* Tamanho da borda superior */
    border-right-width: 8px; /* Tamanho da borda direita */
    border-bottom-width: 35px; /* Tamanho da borda inferior */
    border-left-width: 8px; /* Tamanho da borda esquerda */
    border-style: solid; /* Estilo da borda (pode ser solid, dashed, etc.) */
    border-color: snow; /* Cor da borda */
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); /* Sombra com deslocamento de 0px na horizontal, 4px na vertical, desfoque de 8px e cor rgba(0, 0, 0, 0.4) */
}
.imgtree{
    padding: 0;
    height: 38vh;
    width: 30vh;
    right: -137vh;
    position: relative;
    top: -8vh;
    transform: rotate(4deg); /*Rotaciona a imagem*/
    border-top-width: 8px; /* Tamanho da borda superior */
    border-right-width: 8px; /* Tamanho da borda direita */
    border-bottom-width: 35px; /* Tamanho da borda inferior */
    border-left-width: 8px; /* Tamanho da borda esquerda */
    border-style: solid; /* Estilo da borda (pode ser solid, dashed, etc.) */
    border-color: snow; /* Cor da borda */
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); /* Sombra com deslocamento de 0px na horizontal, 4px na vertical, desfoque de 8px e cor rgba(0, 0, 0, 0.4) */
}
.imgfour{
    padding: 0;
    height: 38vh;
    width: 30vh;
    right: -80vh;
    position: relative;
    top: -10vh;
    border-top-width: 8px; /* Tamanho da borda superior */
    border-right-width: 8px; /* Tamanho da borda direita */
    border-bottom-width: 35px; /* Tamanho da borda inferior */
    border-left-width: 8px; /* Tamanho da borda esquerda */
    border-style: solid; /* Estilo da borda (pode ser solid, dashed, etc.) */
    border-color: snow; /* Cor da borda */
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); /* Sombra com deslocamento de 0px na horizontal, 4px na vertical, desfoque de 8px e cor rgba(0, 0, 0, 0.4) */
}
.txt2{
    background-color: purple;
    text-align: left;
    padding-right: 30px;
    margin: auto;
    height: 0;
    margin-top: 50px;
    width: 50%;
    right: 100vh;
    position: relative;
}
.imgone:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.imgtree:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.imgfour:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}