/* styles.css */
.form-container {
  border: 2px solid #fff;
  background: linear-gradient(to top left, #ADD8E6, #dda0dd)no-repeat;
  height: 75%;
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 14px;
  position: relative;
  left: 350px;
  top: 80px;
  color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.form-container label {
  display: block;
  margin-bottom: 20px;
}

.form-container input {
  width: 90%;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #FFC5C5;
  background-color: #FCF4F1;
  position: relative;
  top: 20px;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #6d81e4c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 40px;
  transition: all 0.3s ease;
}
.form-button:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(0.98);
}
.form-button:active {
  /* Adicione estilos quando o botão for clicado */
  transform: scale(0.98);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.forgot-password{
  text-align: center;
  position: relative;
  top: 55px;
  font-size: 0.8rem;
}
.signup-button{
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  margin: 60px;
  align-items: center;
  left: 30px;
  top: 25px;
  background-color: #FFB6C1;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.signup-button:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(0.98);
}
.signup-button:active {
  /* Adicione estilos quando o botão for clicado */
  transform: scale(0.99);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.form-button:hover {
  background-color: #4D4DFF;
}
.signup-button:hover {
  background-color: #DDA0DD;
}
.form-container h2{
  text-align: center;
}
.str{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.str:hover{
  color: #00009C;
}
