@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal: #FFB6C1;
    --cor-secundaria: #DDA0DD;
    --cor-terciaria: #ADD8E6;
    --branco: #FFFFFF;
    --preto: #121212;
    --cinza: #D9D9D9;
}

.conteiner{
    width: 100%;
    height: 71px;
    display: flex;
    justify-content:space-between;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--preto);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav_opcoes_esquerda{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav_foto_perfil{
    background: var(--cinza);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav_nome_usuario{
    font-size: 14px;
    font-weight: 500;
    color: var(--branco);
}

.nav_menu{
    border: none;
    background: none;
    cursor: pointer;
}

.nav_opcoes_direita{
    display: flex;
    justify-content: center;
}