.conteiner{
    width: 100%;
    height: 71px;
    display: flex;
    justify-content:space-between;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--preto);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav_opcoes_esquerda{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav_foto_perfil{
    background: var(--cinza);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav_nome_usuario{
    font-size: 14px;
    font-weight: 500;
    color: var(--branco);
}

.nav_menu{
    border: none;
    background: none;
    cursor: pointer;
}

.nav_opcoes_direita{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px){
    
}