body{
    background: #1e1e1e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-nav{
    background-color: pink;
    height: auto;
    width: auto;
}
.nav-list{
    color: #fff;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
h2{
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.black-nav{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-right: 40px;
    gap: 20px;
}
.login{
    border: 1px solid #fff;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
}